.menu_item {
    cursor: pointer;
    color: #fff;
}

.languageChange {
    color: white;
}


.headerLinks{
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.flex {
    color: white;
    background-image: linear-gradient(to right, #221c1a, #4e3427);
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
}

.maxWidth {
    margin: auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}


.menu_item_color{
    color: black;
}

.burgerMenu{
    display: none;
}



@media only screen
and (max-width: 1000px)
 {
    .burgerMenu{
        display: block;
    }

    .headerLinks{
        display: none;
    }

    .maxWidth{
        justify-content: space-around;
    }
}
