.secondPage {
  min-height: 100vh;

  .header {
    padding-top: 70px;
    text-align: center;

    &__title {
      font-size: 30px;
    }

    &__text {
      max-width: 760px;
      font-size: 16px;
      margin: auto;
    }
  }

  .firstBlock {
    display: flex;
    justify-content: space-between;
    max-width: 1460px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;

    .firstVideo {
      height: 33vh;
      margin: auto;
    }

    .firstText {
      margin: auto;

      &__title {
        font-size: 30px;
      }

      &__text {
        max-width: 660px;
      }
    }
  }

  .secondBlock {
    display: flex;
    justify-content: space-between;
    max-width: 1460px;
    margin: auto;
    flex-wrap: wrap;

    .secondVideo {
      height: 33vh;
      margin: auto;
    }

    .secondText {
      margin: auto;

      &__title {
        font-size: 30px;
      }

      &__text {
        max-width: 660px;
      }
    }
  }

  .videoFrame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}



