<div class="secondPage">

    <div class="header">
        <div class="header__title">
            <p>Our Latest Projects.</p>
        </div>
        <div class="header__text">
            <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam
                processus dynamicus, qui sequitur mutationem consuetudium.</p>
        </div>
    </div>

    <div class="firstBlock">

        <img (click)="startVideo()" class="firstVideo" src="../../assets/img/firstVideo.png" alt="">

        <div class="firstText">
            <div class="firstText__title">
                Excellent for Mobile Devices.
            </div>
            <div class="firstText__text">
                Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius
                claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
            </div>
            <div class="firstText__items">
                <ul>
                    <li>Nam liber tempor cum soluta nobis eleifend option;</li>
                    <li>Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
                    <li>Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                    <li>Investigationes demonstraverunt lectores</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="secondBlock">

        <div class="secondText">
            <div class="secondText__title">
                Excellent for Mobile Devices.
            </div>
            <div class="secondText__text">
                Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius
                claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
            </div>
            <div class="secondText__items">
                <ul>
                    <li>Nam liber tempor cum soluta nobis eleifend option;</li>
                    <li>Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
                    <li>Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                    <li>Investigationes demonstraverunt lectores</li>
                </ul>
            </div>
        </div>

        <img (click)="startVideo()" class="secondVideo" src="../../assets/img/secondVideo.png" alt="">


    </div>

    <div *ngIf="showVideo" class="videoFrame" >
        <iframe (clickOutside)="onClickedOutside($event)" [delayClickOutsideInit]="true" width="800vw" height="500vh"
                src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
        </iframe>
    </div>

</div>
