.modalWindow {
    border-radius: 5%;
    background: #e03737;
    height: 185px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31%;
    z-index: 1;
}

.button {
    width: 60px;
    position: relative;
    top: 50px;
    left: 100px;
}

.text {
    position: relative;
    top: 50px;
}
