<div id="main"></div>
<app-main-page></app-main-page>


<div id="course"></div>
<app-our-projects ></app-our-projects>


<div id="video"></div>
<app-carousel ></app-carousel>


<div id="gallery"></div>
<app-gallery></app-gallery>


<div id="contactMe"></div>
<app-feedback></app-feedback>


<div id="contactPay"></div>
<app-payment></app-payment>


<app-contacts></app-contacts>

<div class="modalWindow" *ngIf="auth.telephoneMissing">

    <div class="">
        <p class="text">Для завершения регистрации, введите номер телефона в личном кабинете</p>
    </div>

    <button class="button" (click)="closeModalWindow()">Ok</button>

</div>







<ngx-loading-bar height="3px" color="aqua" diameter="20px"></ngx-loading-bar>



